<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>isocode</key>
		<string>AF</string>
		<key>callingcode</key>
		<string>93</string>
	</dict>
	<dict>
		<key>isocode</key>
		<string>AL</string>
		<key>callingcode</key>
		<string>355</string>
	</dict>
	<dict>
		<key>isocode</key>
		<string>DZ</string>
		<key>callingcode</key>
		<string>213</string>
	</dict>
	<dict>
		<key>isocode</key>
		<string>AS</string>
		<key>callingcode</key>
		<string>1684</string>
	</dict>
	<dict>
		<key>isocode</key>
		<string>AD</string>
		<key>callingcode</key>
		<string>376</string>
	</dict>
	<dict>
		<key>isocode</key>
		<string>AO</string>
		<key>callingcode</key>
		<string>244</string>
	</dict>
	<dict>
		<key>isocode</key>
		<string>AI</string>
		<key>callingcode</key>
		<string>1264</string>
	</dict>
	<dict>
		<key>isocode</key>
		<string>AQ</string>
		<key>callingcode</key>
		<string>672</string>
	</dict>
	<dict>
		<key>isocode</key>
		<string>AG</string>
		<key>callingcode</key>
		<string>1268</string>
	</dict>
	<dict>
		<key>isocode</key>
		<string>AR</string>
		<key>callingcode</key>
		<string>54</string>
	</dict>
	<dict>
		<key>isocode</key>
		<string>AM</string>
		<key>callingcode</key>
		<string>374</string>
	</dict>
	<dict>
		<key>isocode</key>
		<string>AW</string>
		<key>callingcode</key>
		<string>297</string>
	</dict>
	<dict>
		<key>isocode</key>
		<string>AU</string>
		<key>callingcode</key>
		<string>61</string>
	</dict>
	<dict>
		<key>isocode</key>
		<string>AT</string>
		<key>callingcode</key>
		<string>43</string>
	</dict>
	<dict>
		<key>isocode</key>
		<string>AZ</string>
		<key>callingcode</key>
		<string>994</string>
	</dict>
	<dict>
		<key>isocode</key>
		<string>BS</string>
		<key>callingcode</key>
		<string>1242</string>
	</dict>
	<dict>
		<key>isocode</key>
		<string>BH</string>
		<key>callingcode</key>
		<string>973</string>
	</dict>
	<dict>
		<key>isocode</key>
		<string>BD</string>
		<key>callingcode</key>
		<string>880</string>
	</dict>
	<dict>
		<key>isocode</key>
		<string>BB</string>
		<key>callingcode</key>
		<string>1246</string>
	</dict>
	<dict>
		<key>isocode</key>
		<string>BY</string>
		<key>callingcode</key>
		<string>375</string>
	</dict>
	<dict>
		<key>isocode</key>
		<string>BE</string>
		<key>callingcode</key>
		<string>32</string>
	</dict>
	<dict>
		<key>isocode</key>
		<string>BZ</string>
		<key>callingcode</key>
		<string>501</string>
	</dict>
	<dict>
		<key>isocode</key>
		<string>BJ</string>
		<key>callingcode</key>
		<string>229</string>
	</dict>
	<dict>
		<key>isocode</key>
		<string>BM</string>
		<key>callingcode</key>
		<string>1441</string>
	</dict>
	<dict>
		<key>isocode</key>
		<string>BT</string>
		<key>callingcode</key>
		<string>975</string>
	</dict>
	<dict>
		<key>isocode</key>
		<string>BO</string>
		<key>callingcode</key>
		<string>591</string>
	</dict>
	<dict>
		<key>isocode</key>
		<string>BA</string>
		<key>callingcode</key>
		<string>387</string>
	</dict>
	<dict>
		<key>isocode</key>
		<string>BW</string>
		<key>callingcode</key>
		<string>267</string>
	</dict>
	<dict>
		<key>isocode</key>
		<string>BR</string>
		<key>callingcode</key>
		<string>55</string>
	</dict>
	<dict>
		<key>isocode</key>
		<string>VG</string>
		<key>callingcode</key>
		<string>1284</string>
	</dict>
	<dict>
		<key>isocode</key>
		<string>BN</string>
		<key>callingcode</key>
		<string>673</string>
	</dict>
	<dict>
		<key>isocode</key>
		<string>BG</string>
		<key>callingcode</key>
		<string>359</string>
	</dict>
	<dict>
		<key>isocode</key>
		<string>BF</string>
		<key>callingcode</key>
		<string>226</string>
	</dict>
	<dict>
		<key>isocode</key>
		<string>MM</string>
		<key>callingcode</key>
		<string>95</string>
	</dict>
	<dict>
		<key>isocode</key>
		<string>BI</string>
		<key>callingcode</key>
		<string>257</string>
	</dict>
	<dict>
		<key>isocode</key>
		<string>KH</string>
		<key>callingcode</key>
		<string>855</string>
	</dict>
	<dict>
		<key>isocode</key>
		<string>CM</string>
		<key>callingcode</key>
		<string>237</string>
	</dict>
	<dict>
		<key>isocode</key>
		<string>CA</string>
		<key>callingcode</key>
		<string>1</string>
	</dict>
	<dict>
		<key>isocode</key>
		<string>CV</string>
		<key>callingcode</key>
		<string>238</string>
	</dict>
	<dict>
		<key>isocode</key>
		<string>KY</string>
		<key>callingcode</key>
		<string>1345</string>
	</dict>
	<dict>
		<key>isocode</key>
		<string>CF</string>
		<key>callingcode</key>
		<string>236</string>
	</dict>
	<dict>
		<key>isocode</key>
		<string>TD</string>
		<key>callingcode</key>
		<string>235</string>
	</dict>
	<dict>
		<key>isocode</key>
		<string>CL</string>
		<key>callingcode</key>
		<string>56</string>
	</dict>
	<dict>
		<key>isocode</key>
		<string>CN</string>
		<key>callingcode</key>
		<string>86</string>
	</dict>
	<dict>
		<key>isocode</key>
		<string>CX</string>
		<key>callingcode</key>
		<string>61</string>
	</dict>
	<dict>
		<key>isocode</key>
		<string>CC</string>
		<key>callingcode</key>
		<string>61</string>
	</dict>
	<dict>
		<key>isocode</key>
		<string>CO</string>
		<key>callingcode</key>
		<string>57</string>
	</dict>
	<dict>
		<key>isocode</key>
		<string>KM</string>
		<key>callingcode</key>
		<string>269</string>
	</dict>
	<dict>
		<key>isocode</key>
		<string>CK</string>
		<key>callingcode</key>
		<string>682</string>
	</dict>
	<dict>
		<key>isocode</key>
		<string>CR</string>
		<key>callingcode</key>
		<string>506</string>
	</dict>
	<dict>
		<key>isocode</key>
		<string>HR</string>
		<key>callingcode</key>
		<string>385</string>
	</dict>
	<dict>
		<key>isocode</key>
		<string>CU</string>
		<key>callingcode</key>
		<string>53</string>
	</dict>
	<dict>
		<key>isocode</key>
		<string>CY</string>
		<key>callingcode</key>
		<string>357</string>
	</dict>
	<dict>
		<key>isocode</key>
		<string>CZ</string>
		<key>callingcode</key>
		<string>420</string>
	</dict>
	<dict>
		<key>isocode</key>
		<string>CD</string>
		<key>callingcode</key>
		<string>243</string>
	</dict>
	<dict>
		<key>isocode</key>
		<string>DK</string>
		<key>callingcode</key>
		<string>45</string>
	</dict>
	<dict>
		<key>isocode</key>
		<string>DJ</string>
		<key>callingcode</key>
		<string>253</string>
	</dict>
	<dict>
		<key>isocode</key>
		<string>DM</string>
		<key>callingcode</key>
		<string>1767</string>
	</dict>
	<dict>
		<key>isocode</key>
		<string>DO</string>
		<key>callingcode</key>
		<string>1809</string>
	</dict>
	<dict>
		<key>isocode</key>
		<string>EC</string>
		<key>callingcode</key>
		<string>593</string>
	</dict>
	<dict>
		<key>isocode</key>
		<string>EG</string>
		<key>callingcode</key>
		<string>20</string>
	</dict>
	<dict>
		<key>isocode</key>
		<string>SV</string>
		<key>callingcode</key>
		<string>503</string>
	</dict>
	<dict>
		<key>isocode</key>
		<string>GQ</string>
		<key>callingcode</key>
		<string>240</string>
	</dict>
	<dict>
		<key>isocode</key>
		<string>ER</string>
		<key>callingcode</key>
		<string>291</string>
	</dict>
	<dict>
		<key>isocode</key>
		<string>EE</string>
		<key>callingcode</key>
		<string>372</string>
	</dict>
	<dict>
		<key>isocode</key>
		<string>ET</string>
		<key>callingcode</key>
		<string>251</string>
	</dict>
	<dict>
		<key>isocode</key>
		<string>FK</string>
		<key>callingcode</key>
		<string>500</string>
	</dict>
	<dict>
		<key>isocode</key>
		<string>FO</string>
		<key>callingcode</key>
		<string>298</string>
	</dict>
	<dict>
		<key>isocode</key>
		<string>FJ</string>
		<key>callingcode</key>
		<string>679</string>
	</dict>
	<dict>
		<key>isocode</key>
		<string>FI</string>
		<key>callingcode</key>
		<string>358</string>
	</dict>
	<dict>
		<key>isocode</key>
		<string>FR</string>
		<key>callingcode</key>
		<string>33</string>
	</dict>
	<dict>
		<key>isocode</key>
		<string>PF</string>
		<key>callingcode</key>
		<string>689</string>
	</dict>
	<dict>
		<key>isocode</key>
		<string>GA</string>
		<key>callingcode</key>
		<string>241</string>
	</dict>
	<dict>
		<key>isocode</key>
		<string>GM</string>
		<key>callingcode</key>
		<string>220</string>
	</dict>
	<dict>
		<key>isocode</key>
		<string>GE</string>
		<key>callingcode</key>
		<string>995</string>
	</dict>
	<dict>
		<key>isocode</key>
		<string>DE</string>
		<key>callingcode</key>
		<string>49</string>
	</dict>
	<dict>
		<key>isocode</key>
		<string>GH</string>
		<key>callingcode</key>
		<string>233</string>
	</dict>
	<dict>
		<key>isocode</key>
		<string>GI</string>
		<key>callingcode</key>
		<string>350</string>
	</dict>
	<dict>
		<key>isocode</key>
		<string>GR</string>
		<key>callingcode</key>
		<string>30</string>
	</dict>
	<dict>
		<key>isocode</key>
		<string>GL</string>
		<key>callingcode</key>
		<string>299</string>
	</dict>
	<dict>
		<key>isocode</key>
		<string>GD</string>
		<key>callingcode</key>
		<string>1473</string>
	</dict>
	<dict>
		<key>isocode</key>
		<string>GU</string>
		<key>callingcode</key>
		<string>1671</string>
	</dict>
	<dict>
		<key>isocode</key>
		<string>GT</string>
		<key>callingcode</key>
		<string>502</string>
	</dict>
	<dict>
		<key>isocode</key>
		<string>GN</string>
		<key>callingcode</key>
		<string>224</string>
	</dict>
	<dict>
		<key>isocode</key>
		<string>GW</string>
		<key>callingcode</key>
		<string>245</string>
	</dict>
	<dict>
		<key>isocode</key>
		<string>GY</string>
		<key>callingcode</key>
		<string>592</string>
	</dict>
	<dict>
		<key>isocode</key>
		<string>HT</string>
		<key>callingcode</key>
		<string>509</string>
	</dict>
	<dict>
		<key>isocode</key>
		<string>VA</string>
		<key>callingcode</key>
		<string>379</string>
	</dict>
	<dict>
		<key>isocode</key>
		<string>HN</string>
		<key>callingcode</key>
		<string>504</string>
	</dict>
	<dict>
		<key>isocode</key>
		<string>HK</string>
		<key>callingcode</key>
		<string>852</string>
	</dict>
	<dict>
		<key>isocode</key>
		<string>HU</string>
		<key>callingcode</key>
		<string>36</string>
	</dict>
	<dict>
		<key>isocode</key>
		<string>IS</string>
		<key>callingcode</key>
		<string>354</string>
	</dict>
	<dict>
		<key>isocode</key>
		<string>IN</string>
		<key>callingcode</key>
		<string>91</string>
	</dict>
	<dict>
		<key>isocode</key>
		<string>ID</string>
		<key>callingcode</key>
		<string>62</string>
	</dict>
	<dict>
		<key>isocode</key>
		<string>IR</string>
		<key>callingcode</key>
		<string>98</string>
	</dict>
	<dict>
		<key>isocode</key>
		<string>IQ</string>
		<key>callingcode</key>
		<string>964</string>
	</dict>
	<dict>
		<key>isocode</key>
		<string>IE</string>
		<key>callingcode</key>
		<string>353</string>
	</dict>
	<dict>
		<key>isocode</key>
		<string>IM</string>
		<key>callingcode</key>
		<string>44</string>
	</dict>
	<dict>
		<key>isocode</key>
		<string>IL</string>
		<key>callingcode</key>
		<string>972</string>
	</dict>
	<dict>
		<key>isocode</key>
		<string>IT</string>
		<key>callingcode</key>
		<string>39</string>
	</dict>
	<dict>
		<key>isocode</key>
		<string>CI</string>
		<key>callingcode</key>
		<string>225</string>
	</dict>
	<dict>
		<key>isocode</key>
		<string>JM</string>
		<key>callingcode</key>
		<string>1876</string>
	</dict>
	<dict>
		<key>isocode</key>
		<string>JP</string>
		<key>callingcode</key>
		<string>81</string>
	</dict>
	<dict>
		<key>isocode</key>
		<string>JO</string>
		<key>callingcode</key>
		<string>962</string>
	</dict>
	<dict>
		<key>isocode</key>
		<string>KZ</string>
		<key>callingcode</key>
		<string>7</string>
	</dict>
	<dict>
		<key>isocode</key>
		<string>KE</string>
		<key>callingcode</key>
		<string>254</string>
	</dict>
	<dict>
		<key>isocode</key>
		<string>KI</string>
		<key>callingcode</key>
		<string>686</string>
	</dict>
	<dict>
		<key>isocode</key>
		<string>KW</string>
		<key>callingcode</key>
		<string>965</string>
	</dict>
	<dict>
		<key>isocode</key>
		<string>KG</string>
		<key>callingcode</key>
		<string>996</string>
	</dict>
	<dict>
		<key>isocode</key>
		<string>LA</string>
		<key>callingcode</key>
		<string>856</string>
	</dict>
	<dict>
		<key>isocode</key>
		<string>LV</string>
		<key>callingcode</key>
		<string>371</string>
	</dict>
	<dict>
		<key>isocode</key>
		<string>LB</string>
		<key>callingcode</key>
		<string>961</string>
	</dict>
	<dict>
		<key>isocode</key>
		<string>LS</string>
		<key>callingcode</key>
		<string>266</string>
	</dict>
	<dict>
		<key>isocode</key>
		<string>LR</string>
		<key>callingcode</key>
		<string>231</string>
	</dict>
	<dict>
		<key>isocode</key>
		<string>LY</string>
		<key>callingcode</key>
		<string>218</string>
	</dict>
	<dict>
		<key>isocode</key>
		<string>LI</string>
		<key>callingcode</key>
		<string>423</string>
	</dict>
	<dict>
		<key>isocode</key>
		<string>LT</string>
		<key>callingcode</key>
		<string>370</string>
	</dict>
	<dict>
		<key>isocode</key>
		<string>LU</string>
		<key>callingcode</key>
		<string>352</string>
	</dict>
	<dict>
		<key>isocode</key>
		<string>MO</string>
		<key>callingcode</key>
		<string>853</string>
	</dict>
	<dict>
		<key>isocode</key>
		<string>MK</string>
		<key>callingcode</key>
		<string>389</string>
	</dict>
	<dict>
		<key>isocode</key>
		<string>MG</string>
		<key>callingcode</key>
		<string>261</string>
	</dict>
	<dict>
		<key>isocode</key>
		<string>MW</string>
		<key>callingcode</key>
		<string>265</string>
	</dict>
	<dict>
		<key>isocode</key>
		<string>MY</string>
		<key>callingcode</key>
		<string>60</string>
	</dict>
	<dict>
		<key>isocode</key>
		<string>MV</string>
		<key>callingcode</key>
		<string>960</string>
	</dict>
	<dict>
		<key>isocode</key>
		<string>ML</string>
		<key>callingcode</key>
		<string>223</string>
	</dict>
	<dict>
		<key>isocode</key>
		<string>MT</string>
		<key>callingcode</key>
		<string>356</string>
	</dict>
	<dict>
		<key>isocode</key>
		<string>MH</string>
		<key>callingcode</key>
		<string>692</string>
	</dict>
	<dict>
		<key>isocode</key>
		<string>MR</string>
		<key>callingcode</key>
		<string>222</string>
	</dict>
	<dict>
		<key>isocode</key>
		<string>MU</string>
		<key>callingcode</key>
		<string>230</string>
	</dict>
	<dict>
		<key>isocode</key>
		<string>YT</string>
		<key>callingcode</key>
		<string>262</string>
	</dict>
	<dict>
		<key>isocode</key>
		<string>MX</string>
		<key>callingcode</key>
		<string>52</string>
	</dict>
	<dict>
		<key>isocode</key>
		<string>FM</string>
		<key>callingcode</key>
		<string>691</string>
	</dict>
	<dict>
		<key>isocode</key>
		<string>MD</string>
		<key>callingcode</key>
		<string>373</string>
	</dict>
	<dict>
		<key>isocode</key>
		<string>MC</string>
		<key>callingcode</key>
		<string>377</string>
	</dict>
	<dict>
		<key>isocode</key>
		<string>MN</string>
		<key>callingcode</key>
		<string>976</string>
	</dict>
	<dict>
		<key>isocode</key>
		<string>ME</string>
		<key>callingcode</key>
		<string>382</string>
	</dict>
	<dict>
		<key>isocode</key>
		<string>MS</string>
		<key>callingcode</key>
		<string>1664</string>
	</dict>
	<dict>
		<key>isocode</key>
		<string>MA</string>
		<key>callingcode</key>
		<string>212</string>
	</dict>
	<dict>
		<key>isocode</key>
		<string>MZ</string>
		<key>callingcode</key>
		<string>258</string>
	</dict>
	<dict>
		<key>isocode</key>
		<string>NA</string>
		<key>callingcode</key>
		<string>264</string>
	</dict>
	<dict>
		<key>isocode</key>
		<string>NR</string>
		<key>callingcode</key>
		<string>674</string>
	</dict>
	<dict>
		<key>isocode</key>
		<string>NP</string>
		<key>callingcode</key>
		<string>977</string>
	</dict>
	<dict>
		<key>isocode</key>
		<string>NL</string>
		<key>callingcode</key>
		<string>31</string>
	</dict>
	<dict>
		<key>isocode</key>
		<string>AN</string>
		<key>callingcode</key>
		<string>599</string>
	</dict>
	<dict>
		<key>isocode</key>
		<string>NC</string>
		<key>callingcode</key>
		<string>687</string>
	</dict>
	<dict>
		<key>isocode</key>
		<string>NZ</string>
		<key>callingcode</key>
		<string>64</string>
	</dict>
	<dict>
		<key>isocode</key>
		<string>NI</string>
		<key>callingcode</key>
		<string>505</string>
	</dict>
	<dict>
		<key>isocode</key>
		<string>NE</string>
		<key>callingcode</key>
		<string>227</string>
	</dict>
	<dict>
		<key>isocode</key>
		<string>NG</string>
		<key>callingcode</key>
		<string>234</string>
	</dict>
	<dict>
		<key>isocode</key>
		<string>NU</string>
		<key>callingcode</key>
		<string>683</string>
	</dict>
	<dict>
		<key>isocode</key>
		<string>KP</string>
		<key>callingcode</key>
		<string>850</string>
	</dict>
	<dict>
		<key>isocode</key>
		<string>MP</string>
		<key>callingcode</key>
		<string>1670</string>
	</dict>
	<dict>
		<key>isocode</key>
		<string>NO</string>
		<key>callingcode</key>
		<string>47</string>
	</dict>
	<dict>
		<key>isocode</key>
		<string>OM</string>
		<key>callingcode</key>
		<string>968</string>
	</dict>
	<dict>
		<key>isocode</key>
		<string>PK</string>
		<key>callingcode</key>
		<string>92</string>
	</dict>
	<dict>
		<key>isocode</key>
		<string>PW</string>
		<key>callingcode</key>
		<string>680</string>
	</dict>
	<dict>
		<key>isocode</key>
		<string>PA</string>
		<key>callingcode</key>
		<string>507</string>
	</dict>
	<dict>
		<key>isocode</key>
		<string>PG</string>
		<key>callingcode</key>
		<string>675</string>
	</dict>
	<dict>
		<key>isocode</key>
		<string>PY</string>
		<key>callingcode</key>
		<string>595</string>
	</dict>
	<dict>
		<key>isocode</key>
		<string>PE</string>
		<key>callingcode</key>
		<string>51</string>
	</dict>
	<dict>
		<key>isocode</key>
		<string>PH</string>
		<key>callingcode</key>
		<string>63</string>
	</dict>
	<dict>
		<key>isocode</key>
		<string>PN</string>
		<key>callingcode</key>
		<string>870</string>
	</dict>
	<dict>
		<key>isocode</key>
		<string>PL</string>
		<key>callingcode</key>
		<string>48</string>
	</dict>
	<dict>
		<key>isocode</key>
		<string>PT</string>
		<key>callingcode</key>
		<string>351</string>
	</dict>
	<dict>
		<key>isocode</key>
		<string>PR</string>
		<key>callingcode</key>
		<string>1</string>
	</dict>
	<dict>
		<key>isocode</key>
		<string>QA</string>
		<key>callingcode</key>
		<string>974</string>
	</dict>
	<dict>
		<key>isocode</key>
		<string>CG</string>
		<key>callingcode</key>
		<string>242</string>
	</dict>
	<dict>
		<key>isocode</key>
		<string>RO</string>
		<key>callingcode</key>
		<string>40</string>
	</dict>
	<dict>
		<key>isocode</key>
		<string>RU</string>
		<key>callingcode</key>
		<string>7</string>
	</dict>
	<dict>
		<key>isocode</key>
		<string>RW</string>
		<key>callingcode</key>
		<string>250</string>
	</dict>
	<dict>
		<key>isocode</key>
		<string>BL</string>
		<key>callingcode</key>
		<string>590</string>
	</dict>
	<dict>
		<key>isocode</key>
		<string>SH</string>
		<key>callingcode</key>
		<string>290</string>
	</dict>
	<dict>
		<key>isocode</key>
		<string>KN</string>
		<key>callingcode</key>
		<string>1869</string>
	</dict>
	<dict>
		<key>isocode</key>
		<string>LC</string>
		<key>callingcode</key>
		<string>1758</string>
	</dict>
	<dict>
		<key>isocode</key>
		<string>MF</string>
		<key>callingcode</key>
		<string>1599</string>
	</dict>
	<dict>
		<key>isocode</key>
		<string>PM</string>
		<key>callingcode</key>
		<string>508</string>
	</dict>
	<dict>
		<key>isocode</key>
		<string>VC</string>
		<key>callingcode</key>
		<string>1784</string>
	</dict>
	<dict>
		<key>isocode</key>
		<string>WS</string>
		<key>callingcode</key>
		<string>685</string>
	</dict>
	<dict>
		<key>isocode</key>
		<string>SM</string>
		<key>callingcode</key>
		<string>378</string>
	</dict>
	<dict>
		<key>isocode</key>
		<string>ST</string>
		<key>callingcode</key>
		<string>239</string>
	</dict>
	<dict>
		<key>isocode</key>
		<string>SA</string>
		<key>callingcode</key>
		<string>966</string>
	</dict>
	<dict>
		<key>isocode</key>
		<string>SN</string>
		<key>callingcode</key>
		<string>221</string>
	</dict>
	<dict>
		<key>isocode</key>
		<string>RS</string>
		<key>callingcode</key>
		<string>381</string>
	</dict>
	<dict>
		<key>isocode</key>
		<string>SC</string>
		<key>callingcode</key>
		<string>248</string>
	</dict>
	<dict>
		<key>isocode</key>
		<string>SL</string>
		<key>callingcode</key>
		<string>232</string>
	</dict>
	<dict>
		<key>isocode</key>
		<string>SG</string>
		<key>callingcode</key>
		<string>65</string>
	</dict>
	<dict>
		<key>isocode</key>
		<string>SK</string>
		<key>callingcode</key>
		<string>421</string>
	</dict>
	<dict>
		<key>isocode</key>
		<string>SI</string>
		<key>callingcode</key>
		<string>386</string>
	</dict>
	<dict>
		<key>isocode</key>
		<string>SB</string>
		<key>callingcode</key>
		<string>677</string>
	</dict>
	<dict>
		<key>isocode</key>
		<string>SO</string>
		<key>callingcode</key>
		<string>252</string>
	</dict>
	<dict>
		<key>isocode</key>
		<string>ZA</string>
		<key>callingcode</key>
		<string>27</string>
	</dict>
	<dict>
		<key>isocode</key>
		<string>KR</string>
		<key>callingcode</key>
		<string>82</string>
	</dict>
	<dict>
		<key>isocode</key>
		<string>ES</string>
		<key>callingcode</key>
		<string>34</string>
	</dict>
	<dict>
		<key>isocode</key>
		<string>LK</string>
		<key>callingcode</key>
		<string>94</string>
	</dict>
	<dict>
		<key>isocode</key>
		<string>SD</string>
		<key>callingcode</key>
		<string>249</string>
	</dict>
	<dict>
		<key>isocode</key>
		<string>SR</string>
		<key>callingcode</key>
		<string>597</string>
	</dict>
	<dict>
		<key>isocode</key>
		<string>SZ</string>
		<key>callingcode</key>
		<string>268</string>
	</dict>
	<dict>
		<key>isocode</key>
		<string>SE</string>
		<key>callingcode</key>
		<string>46</string>
	</dict>
	<dict>
		<key>isocode</key>
		<string>CH</string>
		<key>callingcode</key>
		<string>41</string>
	</dict>
	<dict>
		<key>isocode</key>
		<string>SY</string>
		<key>callingcode</key>
		<string>963</string>
	</dict>
	<dict>
		<key>isocode</key>
		<string>TW</string>
		<key>callingcode</key>
		<string>886</string>
	</dict>
	<dict>
		<key>isocode</key>
		<string>TJ</string>
		<key>callingcode</key>
		<string>992</string>
	</dict>
	<dict>
		<key>isocode</key>
		<string>TZ</string>
		<key>callingcode</key>
		<string>255</string>
	</dict>
	<dict>
		<key>isocode</key>
		<string>TH</string>
		<key>callingcode</key>
		<string>66</string>
	</dict>
	<dict>
		<key>isocode</key>
		<string>TL</string>
		<key>callingcode</key>
		<string>670</string>
	</dict>
	<dict>
		<key>isocode</key>
		<string>TG</string>
		<key>callingcode</key>
		<string>228</string>
	</dict>
	<dict>
		<key>isocode</key>
		<string>TK</string>
		<key>callingcode</key>
		<string>690</string>
	</dict>
	<dict>
		<key>isocode</key>
		<string>TO</string>
		<key>callingcode</key>
		<string>676</string>
	</dict>
	<dict>
		<key>isocode</key>
		<string>TT</string>
		<key>callingcode</key>
		<string>1868</string>
	</dict>
	<dict>
		<key>isocode</key>
		<string>TN</string>
		<key>callingcode</key>
		<string>216</string>
	</dict>
	<dict>
		<key>isocode</key>
		<string>TR</string>
		<key>callingcode</key>
		<string>90</string>
	</dict>
	<dict>
		<key>isocode</key>
		<string>TM</string>
		<key>callingcode</key>
		<string>993</string>
	</dict>
	<dict>
		<key>isocode</key>
		<string>TC</string>
		<key>callingcode</key>
		<string>1649</string>
	</dict>
	<dict>
		<key>isocode</key>
		<string>TV</string>
		<key>callingcode</key>
		<string>688</string>
	</dict>
	<dict>
		<key>isocode</key>
		<string>UG</string>
		<key>callingcode</key>
		<string>256</string>
	</dict>
	<dict>
		<key>isocode</key>
		<string>UA</string>
		<key>callingcode</key>
		<string>380</string>
	</dict>
	<dict>
		<key>isocode</key>
		<string>AE</string>
		<key>callingcode</key>
		<string>971</string>
	</dict>
	<dict>
		<key>isocode</key>
		<string>GB</string>
		<key>callingcode</key>
		<string>44</string>
	</dict>
	<dict>
		<key>isocode</key>
		<string>US</string>
		<key>callingcode</key>
		<string>1</string>
	</dict>
	<dict>
		<key>isocode</key>
		<string>UY</string>
		<key>callingcode</key>
		<string>598</string>
	</dict>
	<dict>
		<key>isocode</key>
		<string>VI</string>
		<key>callingcode</key>
		<string>1340</string>
	</dict>
	<dict>
		<key>isocode</key>
		<string>UZ</string>
		<key>callingcode</key>
		<string>998</string>
	</dict>
	<dict>
		<key>isocode</key>
		<string>VU</string>
		<key>callingcode</key>
		<string>678</string>
	</dict>
	<dict>
		<key>isocode</key>
		<string>VE</string>
		<key>callingcode</key>
		<string>58</string>
	</dict>
	<dict>
		<key>isocode</key>
		<string>VN</string>
		<key>callingcode</key>
		<string>84</string>
	</dict>
	<dict>
		<key>isocode</key>
		<string>WF</string>
		<key>callingcode</key>
		<string>681</string>
	</dict>
	<dict>
		<key>isocode</key>
		<string>YE</string>
		<key>callingcode</key>
		<string>967</string>
	</dict>
	<dict>
		<key>isocode</key>
		<string>ZM</string>
		<key>callingcode</key>
		<string>260</string>
	</dict>
	<dict>
		<key>isocode</key>
		<string>ZW</string>
		<key>callingcode</key>
		<string>263</string>
	</dict>
</array>
</plist>
